
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .section1 {
    background-color: grey;
    color: white;
    padding: 20px;
  }
  
  #title {
    margin: 0;
  }
  
  .section1 label {
    color: white;
    text-align: center;
  }
  
  .section1 hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-top: 10px;
  }
  
  .section2, .section3 {
    width: 45%;
    float: left;
    margin: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 26%;
  }
  
  h3 {
    color: #333;
  }
  
  #incomplete-tasks, #completed-tasks {
    list-style-type: none;
    padding: 0;
  }
  
  #incomplete-tasks li, #completed-tasks li {
    margin-bottom: 10px;
  }
  
  #incomplete-tasks li label, #completed-tasks li label {
    margin-left: 10px;
  }
  
  #completed-tasks li input[type="checkbox"] {
    margin-right: 5px;
  }
  
  #completed-tasks li input[type="text"] {
    display: none;
    margin-left: 10px;
  }
  
  #clear {
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #clear:hover {
    background-color: #c0392b;
  }
  
  .section4 {
    clear: both;
  }
  